body{
  font: 14px sans-serif;
    background-color:  #f1f3f4; /*#fbfbfb; rgb(229, 231, 235);  #e5e7eb;*/
  }
/* color de tabla cursor encima*/
.table-hover tbody tr:hover {
  background-color: #b8daff /*#75acfe;*/
}

/* personalizacion de tabla productos */

#header-productos> tr > th:nth-child(2), #header-productos >  tr > th:nth-child(4){
  width: 12%;
}
#header-productos > tr > th:nth-child(5), #header-productos > tr > th:nth-child(6){
  width: 15%;
}
#header-productos > tr > th:nth-child(7), #header-productos > tr > th.text-center{
  width: 5%;
  margin: 0;
  padding-right: 3px;
  padding-left: 3px;
}

.table-wrapper {
  max-height: 250px;
  overflow: auto;
  display:inline-block;
}
.table-hover tbody tr::nth-child(odd) {background: #0dcaf0;}
.table-hover tbody tr::nth-child(even) {background: #000;}


/* fin de personalizacion de tabla productos */

.img-circle {
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}
.no-show{
  display: none;
}

.small{
  width: 100%;
  margin-top: 0.25rem;
  font-size: .875em;
  color: #196d87;
}

#numeroFactura{
   font-size: 0.850em;
  font-weight: bolder;
}